.laptop-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 1.72%;
  margin-bottom: 0.75rem;
  height: auto;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;

  .lc-wish {
    display: flex;
    justify-content: flex-end;
    cursor: not-allowed;

    img {
      width: 1.8em;
    }
  }

  .lc-image {
    display: flex;
    justify-content: center;
  }

  img {
    width: 70%;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .lc-rating-container {
    display: flex;

    span {
      color: #ff951e;
    }

    .lc-reviews-number {
      color: #329acb;
      font-weight: 500;
      margin-left: 0.5rem;
      margin-top: 0.14rem;
    }
  }

  .lc-info {
    color: black;

    h3 {
      margin: 0;
    }

    p:nth-of-type(2) {
      font-weight: bold;
      color: #329acb;
      cursor: pointer;
    }

    p:nth-of-type(3) {
      font-size: 0.8em;
      font-weight: 400;
      color: #757575;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 2.2em;
    }
  }

  .lc-info-and-btn {
    display: flex;
    min-height: max-content;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .lc-button {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;

    button {
      width: 100%;
      margin-bottom: 0;
      padding: 1em 4em;
      color: #329acb;
      font-weight: bold;
      background-color: white;
      border: 1px solid #329acb;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 1rem;

      &:hover {
        background-color: #329acb;
        color: white;
      }

      &:active {
        background-color: #2b89b5;
      }
    }
  }

  .lc-compare-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #329acb;
    font-weight: 500;

    input {
      margin-right: 0.5rem;
    }

    label {
      margin-top: 0.04rem;
    }
  }

  // &:nth-of-type(4n) {
  //   margin-right: 4.4rem;
  // }
}
