body {
  font-family: Roboto;
}

$color-blue: #329acb;
$color-grey: #696969;
$color-black: #000000;
$color-orange: #f08222;

.links {
  cursor: pointer;
}

.PH-main-content {
  display: flex;
}

.loading {
  color: $color-grey;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 5%;
}

.PH-page-link {
  position: relative;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: -3%;
  color: #175078;
}

.PH-left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-left: 10%;
}

.PH-large-laptop-img {
  img {
    width: 679px;
    height: 507px;
    object-fit: contain;
  }
}

.PH-small-laptop-img {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 5%;

  .normal-image {
    width: 70px;
    height: auto;
    cursor: pointer;

    padding: 5px 12px;
  }
  .boxed-image {
    border: 1px solid #175078;
    border-radius: 3px;
    width: 70px;
    height: auto;
    padding: 5px 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }
}

.PH-small-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.PH-right-container {
  margin-right: 10%;
  margin-top: 3%;
  width: 40%;
}

.PH-product-title {
  color: $color-blue;
  font-weight: 600;
  font-size: 30px;
}

.PH-product-desc {
  color: $color-grey;
  font-weight: 400;
  font-size: 22px;
  margin-top: -2.5%;
}

.PH-item-desc {
  color: $color-black;
  font-weight: 400;
  font-size: 15px;
}

.PH-UL {
  padding: 0;
  margin-left: 20px;
  margin-bottom: 5%;
  li {
    color: $color-black;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 1%;
  }
}

.PH-stars {
  .faStar {
    color: $color-orange;
    font-size: 24px;
    margin-right: 1%;
  }
  p {
    color: $color-blue;
  }
}

.PH-shipping-info {
  .faCheck {
    color: #1fa114;
  }
  .checkone,
  .checktwo {
    display: flex;
    align-items: center;
  }
  p {
    color: $color-grey;
    font-weight: bold;
    font-size: 13px;
    margin-left: 1%;

    span {
      color: $color-blue;
    }
  }
}

.checkone {
  margin-bottom: -2%;
}

.PH-add-to-cart {
  padding: 10px 70px;
  color: $color-blue;
  border: 1px solid $color-blue;
  background-color: white;
  border-radius: 3px;
  margin-right: 3%;
}

.PH-buttons {
  display: flex;
  align-items: center;
  .minus-btn,
  .plus-btn {
    padding: 10px 15px;
    color: $color-orange;
    background-color: white;
    border: 1px solid $color-orange;
  }

  span {
    padding: 7px 15px 9px 15px;
    color: $color-orange;
    background-color: white;
    outline: 1px solid $color-orange;
  }
}

.PH-add-to-cart:hover {
  color: white;
  background-color: #329acb;
}

.minus-btn {
  border-radius: 3px 0 0 3px;
}

.plus-btn {
  border-radius: 0 3px 3px 0;
}

.heart-icon {
  margin-left: 3%;
}

.PH-price {
  font-size: 20px;
  font-weight: 600;
  color: $color-black;
  margin-bottom: -2%;
  margin-top: -2%;
}

// Bundles CSS

.bundles-main-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: -8%;
  display: flex;
  flex-direction: column;
  hr {
    margin-top: -25px;
    width: 1090px;
    margin-right: 27%;
    border: 1px solid #e1e1e1;
  }
  .bundles-product-container {
    width: 1130px;
    height: 380px;
    margin-top: -8px;
    display: flex;
    justify-content: space-evenly;
  }
  .bundle-chev-right {
    align-self: center;
    margin-bottom: 15%;
    font-size: xx-large;
    color: #e1e1e1;
  }
  .bundles-card-container {
    width: 200px;
    height: 250px;
    img {
      max-height: 200px;
      max-width: 200px;
      outline: 1px solid #e1e1e1;
      border-radius: 3px;
    }
  }
  .bundles-add-title {
    margin-left: 1%;
    font-weight: 600;
    font-size: 20px;
  }
  .bundles-title-container {
    margin-left: 1%;
    color: #175078;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: -2%;
  }
  .bundles-name-price-container {
    margin-top: -8px;
    font-weight: 600;
    font-size: 13px;
    .bundle-price {
      color: #175078;
    }
  }
}
